@font-face {
  font-family: "Urbanist-Regular";
  src: url("../fonts/UrbanistRegular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-Medium";
  src: url("../fonts/UrbanistSemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Urbanist-Bold";
  src: url("../fonts/UrbanistBold.ttf");
  font-display: swap;
}
